services:
  backend:
    build: ./backend
    image: pulse-backend-image:latest
    # depends_on:
    #   - db
    ports:
      - "8080:8080"

  frontend:
    build: ./frontend
    image: pulse-frontend-image:latest
    depends_on:
      - backend
    ports:
      - "4200:4200"

volumes:
  postgres_data: