[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "*"
requests = "*"
black = "*"
django = "*"
django-filter = "*"
celery = "*"
redis = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"

[scripts]
lint = "pylint ."
test = "python manage.py test"

[tool]
black = {line-length = 79}

[requires]
python_version = "3.14"
