<div class="flex-row items-start h-full">
  <form
    [formGroup]="filtersFormGroup"
    class="filters flex flex-1 flex-row flex-wrap gap-4 items-start"
  >
    @for (filter of filters(); track filter) {
      @switch (filter.type) {
        @case (FilterType.SELECT) {
          <mat-form-field appearance="fill" class="flex-1">
            <mat-label>{{ filter.placeholder }}</mat-label>
            <mat-select [multiple]="filter.multiple" [formControlName]="filter.key">
              @for (option of filter.options; track option) {
                <mat-option [value]="option">{{ option }} </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        @case (FilterType.SEARCH) {
          <mat-form-field appearance="fill" class="flex-1">
            <mat-label>{{ filter.placeholder }}</mat-label>
            <div class="flex-row">
              <input type="text" matInput [formControlName]="filter.key" />
            </div>
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
        }
      }
    }
    <button matButton="outlined" class="self-center min-w-[150px]" (click)="clearFilters()">
      Clear Filters
    </button>
  </form>
</div>
