// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'tailwindcss';

$my-theme: mat.define-theme(
  (
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$cyan-palette,
    ),
    typography: (
      brand-family: 'Roboto',
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  @include mat.all-component-themes($my-theme);
}

:root {
  --app-radius: 20px;

  @include mat.toolbar-overrides(
    (
      title-text-size: 24px,
      title-text-weight: 400,
      standard-height: 70px,
    )
  );

  @include mat.tabs-overrides(
    (
      active-focus-indicator-color: black,
      active-hover-indicator-color: black,
      label-text-size: 16px,
      container-height: 70px,
    )
  );

  @include mat.snack-bar-overrides(
    (
      button-color: white,
    )
  );

  @include mat.table-overrides(
    (
      background-color: white,
    )
  );

  @include mat.paginator-overrides(
    (
      container-background-color: white,
    )
  );

  @include mat.form-field-overrides(
    (
      filled-container-color: #eaeaea,
      filled-active-indicator-color: white,
    )
  );
}

/* Angular Material MDC form-field  (only affects filters) */
.filters .mat-mdc-form-field .mat-mdc-form-field-flex,
.filters .mat-mdc-form-field .mdc-text-field,
.filters .mat-mdc-form-field .mat-mdc-filled-control {
  border-radius: var(--app-radius);
  overflow: hidden;
}

.error-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: red,
      button-color: white,
    )
  );
}

.success-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: #42ac46,
    )
  );
}

.warning-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: #d5b900,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  h1 {
    font-weight: 500;
    font-size: var(--text-2xl); /* 1.25rem (20px) */
    line-height: var(--text-3xl--line-height); /* calc(1.75 / 1.25) */
  }

  h2 {
    font-size: var(--text-lg);
    line-height: var(--text-2xl--line-height);
  }

  h3 {
    font-size: var(--text-xl);
    line-height: var(--text-lg--line-height);
  }

  // Reset the user agent margin.
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
