name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  backend-ci:
    name: Django
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [ 3.14 ]

    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --deploy --system --dev

      - name: Run pylint
        run: pylint --output-format=parseable .

      - name: Run Tests
        run: python manage.py test

  frontend-ci:
    name: Angular
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Check formatting
        run: npm run format:check

      - name: Lint frontend
        run: npm run lint

      - name: Build frontend
        run: npm run build